<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uta.edu.tutorme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.CategoryActivity" />
        <activity android:name=".activities.SubcategoryActivity" />
        <activity android:name=".activities.PopulateCategoryActivity" />
        <activity android:name=".activities.PopulateSubCategoryActivity" />
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".activities.HomepageActivity"
            android:label="@string/title_activity_homepage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PostDetailActivity"
            android:label="@string/title_activity_existing_adv" />
        <activity
            android:name=".activities.AddNewAdvActivity"
            android:label="@string/title_activity_add_new_adv" />
        <activity android:name=".activities.ForgetPasswordActivity" />
        <activity android:name=".activities.ChangePasswordActivity" />
        <activity android:name=".activities.UpdatePostDetailActivity" />
        <activity
            android:name=".activities.SearchActivity"
            android:label="Search" />
        <activity android:name=".activities.AddCategoryActivity" />
        <activity android:name=".activities.AddSubCategoryActivity" />
        <activity android:name=".activities.EditProfileActivity" />
        <activity
            android:name=".activities.SearchResultActivity"
            android:label="Search Results" />
        <activity
            android:name=".activities.UpdateProfilePage"
            android:label="@string/update_profile" />
        <activity android:name=".activities.BiddingPostActivity" />
        <activity android:name=".activities.ViewReviews"></activity>
    </application>

</manifest>
